/*******************************************
* Just Another Testimonial plugin styles
*******************************************/

blockquote.hidden{
    display: none;
}

.jststm-container{
    position: relative;
}

.jststm-container blockquote{
    position: absolute;
}